
.default-diff {
    pre {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;

        del {
            background: pink;
        }
        ins {
            background: lightgreen;
            text-decoration: none;
        }
    }
}

.Differences {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;

    thead {
        display: none;
    }
    tbody th {
        text-align: right;
        background: gray("100");
        padding: 1px 2px;
        border-right: 1px solid gray("200");
        vertical-align: top;
        font-size: 13px;
        font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
        font-weight: normal;
        color: gray("500");
        width: 5px;
    }
    td {
        padding: 1px 2px;
        font-size: 13px;
        font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    }
    ins, del {
        text-decoration: none;
    }
    .Skipped {
        background: gray("100");
    }
}

.DifferencesSideBySide {
    .ChangeInsert td {
        &.Left {
            background: #dfd;
        }
        &.Right {
            background: #cfc;
        }
    }
    .ChangeDelete td {
        &.Left {
            background: #f88;
        }
        &.Right {
            background: #faa;
        }
    }
    .ChangeReplace {
        td {
            &.Left {
                background: #fe9;
            }
            &.Right {
                background: #fd8;
            }
        }
        ins, del {
            background: #fc0;
        }
    }
}

.DifferencesInline {
    .ChangeReplace, .ChangeDelete, .ChangeInsert {
        .Left {
            background: #fdd;
        }
        .Right {
            background: #dfd;
        }
    }

    .ChangeReplace {
        ins {
            background: #9e9;
        }
        del {
            background: #e99;
        }
    }
    th[data-line-number]:before {
        content: attr(data-line-number);
    }
}

#clipboard-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 100;
    /*display: none;*/
    opacity: 0;

    #clipboard {
        width: 1px;
        height: 1px;
        padding: 0;
    }
}
